
header{
    background-color: gray;
    width: 100%;
    position: absolute;
    top: 0%;
    display: flex;
    justify-content: center;
    color: red;
}
h2{color: blue;
   position: initial;
   margin-top: 5%;
   text-align: left;
   font-size: xx-large;}
li{font-size: x-large;
   position: static;
   margin-top: 1,5%;}
   
h3{color:blue;
   font-size: x-large;
   position: fixed;
   margin-top: 3%;}
img{
   margin-top: 10%;
      width: 30vw;
      height: 30vh;
      position: relative;
     text-align: left;
      animation-name: example;
      animation-duration: 4s;
      }
      @keyframes example {
          from {
              margin-left: 100%;
              width: 300%
            }
          
            to {
              margin-left: 0,5%;
              
            }
          }



footer{position: absolute;
      bottom: 0;
      width: 100%;
      background-color: gray;
       color: blue;
       font-size: large;
      text-align: center;}
